html {
	position: relative;
	min-height: 100%;
}
body {
		 font-family: "Verdana", Arial, sans-serif;
		 color: #B6EB00;
		 margin: 0px;
		 margin-bottom: 55px;
		 background-image: url("images/background.svg");
		 background-repeat: no-repeat;
		 background-position: center;
		 background-attachment: fixed;
		 background-size: cover;
}

input { display: inline-block; margin: 5px auto; }
label { display: inline-block; width: 240px; margin: 5px auto; }
a {
	color: #B6EB00;
}
.grad {
  background: #311B92; /* For browsers that do not support gradients */
  background: linear-gradient(to bottom right, #8C00FF, #311B92); /* Standard syntax */
}
.grad2 {
  background: #311B92; /* For browsers that do not support gradients */
  background: linear-gradient(to top right, #8C00FF, #311B92); /* Standard syntax */
}

nav		{
		position: fixed;
		top: 0px;
		left: 0px;
		margin: 0px;
		padding: 0px;
		height: 50px;
		width: 100%;
		background-color: #311B92;
		z-index: 2;
}


.table {
	display: table; /*Allow the centering to work */
	margin: 0 auto;
	font-family: 'Orbitron', sans-serif;

}
.table2 {
	display: table; /*Allow the centering to work */
	margin: 0 auto;
	font-family: 'Orbitron', sans-serif;
}
.dropdown {
	display:none;
}
@media only screen and (max-width: 750px){
	.table{
		display:none;
	}
/* Dropdown Button */
.dropbtn {
    background: rgba(0, 0, 0, 0.0);
    color: #B6EB00;
	line-height:50px;
    padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
    font-size: 250%;
	font-family: 'Orbitron', sans-serif;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
	list-style: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
	background-color: #311B92;
	color: #B6EB00;
	font-family: 'Orbitron', sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: #B6EB00;
	background-color: #7E57C2;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
}


nav ul	{
	list-style-type: none;
	background-color: #311B92;
	padding: 0px;
}

nav ul li	{
	float: left;
}

nav ul li a {
		text-decoration: none;
		text-align: center;
		background-color: #311B92;
		color: #B6EB00;
		padding: 5px;
		border: 1px solid black;
		margin: 10px;
		margin-top: -6px;
		display: block;
}

nav ul li a:hover {
		color: #B6EB00;
		background-color: #7E57C2;
		box-shadow: 10px 10px 5px #2b2b2b;
}
nav ul li a:visited{
		color: #FF9800;
}

iframe {
		border-width: 0px;
		width: 100%;
}
		
header {
		margin: 0px;
		padding: 0px;
		left: 0px;
		width: 100%;
		margin-top: 50px;
		background-color: #311B92;
		color: #B6EB00;
		clear: both;
}
header ul {
		list-style-type: none;
		background-color: #311B92;
}
header ul li {
	float: left;
}
header li h1 a {
		text-decoration: none;
		text-align: center;
		background-color: #311B92;
		color: #B6EB00;
		padding: 5px;
		border: 1px solid black;
		margin: 10px;
		display: block;
}

header li h1 a:hover {
		color: #B6EB00;
		background-color: #7E57C2;
		box-shadow: 10px 10px 5px #2b2b2b;
}

header li h1 a:visited {
		color: #FF9800;
}


article	{ 
		margin: 0px;
		padding: 0px;
		left: 0px;
		clear: both;
		margin-top: 15px;
		margin-bottom:55px;
		width: 100%;
		text-align: center;
}

article::after {
	clear: both;
}


article p a {
		color: #B6EB00;
}

section	{
	margin: 0px;
	padding: 0px;
	left: 0px;
	clear: both;
}

footer {
	position: absolute;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
	background-color: #311B92;
	color: #B6EB00;
	text-align : center;
	height: 115px;
}

footer p a {
	color: #B6EB00;
}

table{
	border-spacing: 7px;
	border-collapse: separate;
	width: 100%;
	}
td {
	min-width: 175px;
	text-align: left;
	word-wrap: normal;
	}
@media only screen and (max-width: 950px){
td {
	min-width: 50%;
	word-wrap: break-word;
}
.widthreset{min-width: 100px;}
#fillcolor{min-width: 100px;}
}
thead{
	text-align: left;
}

h1 {
	font-size: 175%;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	word-wrap: break-word;

}
@media only screen {
h1{
	font-size: 125%;
}
}

h2 {
	position: absolute; 
	bottom: 75px; 
	text-align: left;
	width: 100%; 
	word-wrap: break-word;
}
@media only screen  and (max-width: 950px){
h2{
	font-size: 80%;
	bottom: 15px;
}
}

h2 span { 
   font: bold 24px/45px 'Orbitron', Sans-Serif;   
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
@media only screen  and (max-width: 950px){
	h2 span {
		font:  bold 20px/40px 'Orbitron', Sans-Serif; 
	}
}

h3 {
	text-align: center;
	font-size: 125%;
	font-family: 'Orbitron', sans-serif;
	margin-top: 5px;
	word-wrap: break-word;
}
@media only screen{
	h3{
		font-size: 110%;
	}
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
	position: fixed;
	top: 100px;
	left: 25px;
	display: block;
	background-color: #311B92;
	padding: 4px;
	border-radius: 15px;
	}
p {
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin: 0px;
	word-wrap: break-word;
}	
@media only screen{
	p{
		font-size: 85%;
	}
}
@media only screen and (max-width: 550px){
h1 {
	font-size: 6vw;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	word-wrap: break-word;
}
.vertical-text {
	left: 35px;
}

h3 {
	text-align: center;
	font-size: 5vw;
	font-family: 'Orbitron', sans-serif;
	margin-top: 5px;
	word-wrap: break-word;
}

p {	
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin: 0px;
	word-wrap: break-word;
}
}

[class*="col-"] {
    display: inline-block;
	vertical-align: top;
    padding: 0px;
}
.centeralign {
	text-align: center;
	min-width: 75px;
}

.col-1 {width: 5%;}
.col-2 {width: 8%;}
.col-3 {display: none;}
.col-4 {
	width: 84%;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #311B92;
	color: #B6EB00;
	border-radius: 15px;
}
.col-5 {
	width: 40%;
	margin:15px auto 0;
	background-color: #311B92;
	color: #B6EB00;
	border-radius: 15px;
	min-width: 400px;
}
.col-5H {
	width: 580px;
	margin:15px auto 0;
	padding-bottom: 10px;
	background-color: rgba(49,27,146,0.5);
	color: #B6EB00;
	border-radius: 15px;
}
.bottom-article{
	position: relative;
	width: 100%;
	margin-bottom: 125px;
}


.box {
	background-color: #311B92;
	margin-bottom: -20px;
}

.col-video{
	width: 40%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 15px;
	min-width: 400px;
}

.footer {
	float: left;
	width: 33%;
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #311B92;
	color: #B6EB00;
}
.footer::after{clear:both}

.imageH {
	position: relative; 
	display: inline-block;
	float: left;
	height: 360px;
	width: 550px;
	color: #B6EB00;
	margin-left: 3%;
	margin-right: auto;
}
.imageG {
	position: relative; 
	display: inline-block;
	float: left;
	height: 360px;
	width: 94%;
	color: #B6EB00;
	margin-left: 3%;
	margin-right: 3%;
}
.imageV1 {
	clear:left;
	position: relative; 
	display: inline-block;
	float: left;
	height: 850px;
	width: 450px;
	color: #B6EB00;
	margin-left:3%;
	margin-right:auto;
}
.imageV {
	position: relative; 
	display: inline-block;
	float: left;
	height: 850px;
	width: 450px;
	color: #B6EB00;
	margin-left:3%;
	margin-right:auto;
}
.imageV2 {
	display: inline-block;
	height: 600px;
	width: 450px;
	color: #B6EB00;
	margin-left:3%;
	margin-right:auto;
}
article img{
	width:100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}
.imageR{
	display: inline-block;
	width:84%;
	margin-top:15px;
}
@media only screen and (max-width: 950px){
.col-1 {display:none;}
.col-2 {display:none;}
.col-3 {display:none;}
.col-4 {	
	margin-left: 8%;
	margin-right: 8%;
}

.col-5 {

	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 15px;
	background-color: #311B92;
	color: #B6EB00;
	min-width: 50px;
}
.col-5H {

	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 15px;
	background-color: rgba(49,27,146,0.5);
	color: #B6EB00;
	min-width: 50px;
}
.footer {
	width: 100%;
	margin-top: 0px;
	background-color: #311B92;
	color: #B6EB00;
}
article img{
	width:100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px;
}
.imageH {
	display: inline-block;
	height: auto;
	max-width: 84%;
	margin-left: 8%;
	margin-right: 8%;
}

.imageV {
	display: inline-block;
	height: auto;
	max-width: 84%;
	margin-left: 8%;
	margin-right: 8%;
}
.imageV1 {
	display: inline-block;
	height: auto;
	max-width: 84%;
	margin-left: 8%;
	margin-right: 8%;
}

.imageV2 {
	display: inline-block;
	height: auto;
	max-width: 84%;
	margin-left: 8%;
	margin-right: 8%;
}
.imageR {
	margin-left: 8%;
	margin-right: 8%;
}
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
.normal_image{
	width: 120px;
    height: 120px;
}
.r45 {
	width: 120px;
    height: 120px;
	transform: rotate(45deg);
}
.rotation {
    width: 120px;
    height: 120px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media only screen {
.normal_image{
	width: 75%;
	height: 75%;
	}
.r45 {
	width: 75%;
	height: 75%;
}
.rotation {
    width: 75%;
	height: 75%;
}
	}
	.card {
	max-width: 550px; 
	width: 75%;
}