.grad {
    background: rgb(254, 254, 255); /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, rgba(140, 0, 255, 0.8), rgba(255, 255, 255, 0.4)); /* Standard syntax */
  }
nav		{
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
.filler{
    height:50px;
}
.grid{
    width:100%;
    height: 650px;
}
.cell{
    display: inline-block;
    vertical-align: middle;
}
/* Dropdown Button */
.dropbtn {
    background: rgba(0, 0, 0, 0.0);
    color: #B6EB00;
	line-height:50px;
    padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
    font-size: 250%;
	font-family: 'Orbitron', sans-serif;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
	list-style: none;
    position: absolute;
    background-color: rgba(249, 249, 249, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
	background-color: rgba(49, 27, 146, 0.5);
	color: #B6EB00;
	font-family: 'Orbitron', sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: #B6EB00;
	background-color: #7E57C2;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.button{width: 105px;}
.settingDates{
    width: 200px;
    display: inline-block;
    margin-bottom: 1rem;
}


.line {
    stroke: rgba(0, 0, 0, 0.33);
  }
  path.link {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}   
  .node text {
    pointer-events: none;
    font: 10px sans-serif;
  }
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }